# Copia esse arquivo pra ".env" e preenche com valores reais do projeto

# Nome do banco: combina com o que estiver em initialDatabases no devenv.nix caso esteja usando devenv,
#  se nao estiver usando, coloque o nome do banco que voce criou no postgres local.
DATABASE_URL=postgresql+psycopg:///camusdb


INFLUX_TOKEN=token gerado por vc apos criar conta em localhost:8086

# Gera uma chave segura - ex rodando: openssl rand -hex 32

JWT_SECRET=chave-segura

DEBUG=True
